<h1>Hi {{currentUser.firstName}}! Welcome to the Dashboard of NETWORK MANAGEMENT PORTAL</h1>
&nbsp; &nbsp; &nbsp; 
    <ul align="right">
        <li><a [routerLink]="['/login']">Logout</a></li>
        <li><a href="#help">Help</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a class="active" href="#home">Home</a></li>
    </ul>
<div align="center">
<a href="">
    <img src="../Images/cisco-icon.JPG" alt="avatar" style="width: 180px; height: 180px;
padding-top: 105px;" border="0">
</a> &nbsp; &nbsp; &nbsp;
<a href="">
    <img src="../Images/paloalto-icon.JPG" alt="avatar" style="width: 180px; height: 180px;
padding-top: 105px;" border="0">
</a> &nbsp; &nbsp; &nbsp;
<a href="">
    <img src="../Images/riverbed-icon.JPG" alt="avatar" style="width: 180px; height: 180px;
padding-top: 105px;" border="0">
</a>
</div>
